@{
    Layout = "_ConfigurePlugin";
}
@model ConfigurationModel

<form asp-controller="qBoConfiguration" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="content-header clearfix">
                        <div class="ui-state-highlight ui-corner-all" style="margin-top:0;padding:10px">
                            <span class="ui-icon ui-icon-info" style="float:left;margin-right:.3em"></span>
                            qBoSlider extend nopCommerce menu and now you can edit slide collection from admin menu card. <a target="_blank" href="/Admin/qBoSlide/List">Click here to edit <strong>SLIDES</strong></a>, and <a target="_blank" href="/Admin/qBoWidgetZone/List">here to edit <strong>WIDGET ZONES</strong></a>. <a target="_blank" href="https://github.com/iAlexeyProkhorov/qBoSlider/wiki/Get-started"><strong>Visit 'Get Started' page</strong>.</a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="UseStaticCache" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseStaticCache" />
                        <span asp-validation-for="UseStaticCache"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <input type="submit" name="save" class="btn btn-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


