@model WidgetZoneModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Name" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="SystemName" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="SystemName" />
            <span asp-validation-for="SystemName"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Autoplay" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Autoplay" />
            <span asp-validation-for="Autoplay"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="Autoplay">
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="AutoplayInterval" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="AutoplayInterval" />
                <span asp-validation-for="AutoplayInterval"></span>
            </div>
        </div>
    </nop-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="SlideSpacing" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="SlideSpacing" />
            <span asp-validation-for="SlideSpacing"></span>
        </div>
    </div>
    @*     <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="SlidesPerGroupAuto" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="SlidesPerGroupAuto" />
            <span asp-validation-for="SlidesPerGroupAuto"></span>
        </div>
    </div> *@
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="SlidesPerView" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="SlidesPerView" />
            <span asp-validation-for="SlidesPerView"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="SlidesPerGroup" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="SlidesPerGroup" />
            <span asp-validation-for="SlidesPerGroup"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="AllowArrowNavigation" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="AllowArrowNavigation" />
            <span asp-validation-for="AllowArrowNavigation"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="AllowBulletNavigation" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="AllowBulletNavigation" />
            <span asp-validation-for="AllowBulletNavigation"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="AutoHeight" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="AutoHeight" />
            <span asp-validation-for="AutoHeight"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="LazyLoading" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="LazyLoading" />
            <span asp-validation-for="LazyLoading"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Loop" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Loop" />
            <span asp-validation-for="Loop"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Published" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Published" />
            <span asp-validation-for="Published"></span>
        </div>
    </div>
</div>

<script>
    function validateWidgetZoneExistance(){
          let parameters = {
                  widgetZoneId: '@Model.Id',
                  systemName: $("#@Html.IdFor(model => model.SystemName)").val()
              };
         warningValidation('@Url.Action("SystemNameReservedWarning", "qBoWidgetZone")', '@Html.NameFor(model => model.SystemName)', parameters);
      }

    $(document).ready(function () {
         $("#@Html.IdFor(model => model.SystemName)").autocomplete({
            delay: 200,
            minLength: 2,
            source: '@Url.Action("FindNopCommerceWidgetZoneBySystemName", "qBoWidgetZone")'
         })
         $('#@Html.IdFor(model => model.SystemName)').on('input change', function () {
              validateWidgetZoneExistance();
         });

         validateWidgetZoneExistance();
      });

      
</script>
