@model WidgetZoneModel

@{
    const string hideInfoBlockAttributeName = "Baroque.qBoSlider.Admin.WidgetZone.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);

    const string hideSlidesBlockAttributeName = "Baroque.qBoSlider.Admin.WidgetZone.HideSlidesBlock";
    var hideSlidesBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSlidesBlockAttributeName);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="widget-zone-panel">
            <nop-panel asp-name="info-panel" asp-icon="fa fa-info" asp-title="@T("Nop.Plugin.Baroque.Widgets.qBoSlide.Admin.WidgetZone.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">
                @await Html.PartialAsync("~/Plugins/Widgets.qBoSlider/Views/Admin/WidgetZone/_CreateOrUpdate.Info.cshtml", Model)
            </nop-panel>
        </nop-panels>
    </div>
</div>