@model WidgetZoneModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Name" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Name" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="SystemName" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="SystemName" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="ArrowNavigationDisplayingTypeId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="ArrowNavigationDisplayingTypeId" asp-items="@Model.AvailableArrowNavigations" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="BulletNavigationDisplayingTypeId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="BulletNavigationDisplayingTypeId" asp-items="@Model.AvailableBulletNavigations" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="AutoPlay" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="AutoPlay" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="AutoPlayInterval" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="AutoPlayInterval" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="SlideDuration" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="SlideDuration" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="MinDragOffsetToSlide" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="MinDragOffsetToSlide" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="SlideSpacing" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="SlideSpacing" />
        </div>
    </div>

</div>
